@import "tailwindcss";

@theme {
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
  --breakpoint-xl: 1800px;
  --breakpoint-xxl: 2300px;
  --color-primary-200: #b600ed;
  --color-primary-100: #d56ef5;
  --color-primary-400: #620180;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #817f7f;
  --bg-banner-gradient: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9),
    transparent
  );
  --bg-top-linear-gradient: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.9),
    transparent
  );
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  color: #dadcde;
  --type-first: "Roboto", Arial, sans-serif;
  font-family: var(--type-first);
  background-color: #17161b;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  display: block;
  font-size: 1rem;
  font-family: var(--type-first);
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
  padding: 0px;
}
